@model Composing_ASP.NET_MVC.Models.Post

@{ Html.BeginForm(); }
<fieldset>
    <p>
        @Html.LabelFor(m => m.Title)
        @Html.EditorFor(m => m.Title)
    </p>

    <p>
        @Html.LabelFor(m => m.Summary)
        @Html.EditorFor(m => m.Summary)
    </p>

    <p>
        @Html.LabelFor(m => m.Body)
        @Html.EditorFor(m => m.Body)
    </p>
        
    <p>
        @Html.LabelFor(m => m.PublicationDate)
        @Html.EditorFor(m => m.PublicationDate)
    </p>

</fieldset>
@{ Html.EndForm(); }